.steps{
    @media (max-width:1229px) {
        &__wrapper {
            flex-direction: column;
        }
        &__description,&__image{
            width: 100%;
        }
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 32px 0;
            margin-bottom: 50px !important;
            li{
                width: calc(50% - 15px);
                &:last-child{
                    width: 100%;
                }
            }
        }
        &__image{
            height: 510px;
            overflow: hidden;
            img{
                width: 100%;
                margin-top: -530px;
            }
        }
    }
    @media (max-width:992px) {
        &__image{
            height: 370px;
            img{
                margin-top: -375px;
            }
        }
    }
    @media (max-width:768px) {
        h3{
            font-size: 16px;
        }
        ul{
            li{
                width: 100%;
            }
        }
    }
    @media (max-width:645px) {
        &__image{
            height: auto;
            img{
                margin-top: -50px;
            }
        }
    }
}